body {
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;

}

.container {
  background-color: #e7e7de;
  box-shadow: #303841 0px 5px 15px;
  border-radius: 5px;
  padding: 25px 70px;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(#5e366a, #a070a1);
}

.game-setting {
  /* display: none; */
  /* width: 60%; */
  background-color: #e7e7de;
  box-shadow: #303841 0px 5px 15px;
  border-radius: 5px;
  padding: 30px 55px;
  margin-right: 100px;
}

.setting {
  /* text-transform: uppercase; */
  font-family: 'Poppins', sans-serif; 

  font-weight: 600;
  text-align: center;
  /* color: #303841; */
  color: #393e46;
  font-size: 25px;
  margin-bottom: 40px;
  border-radius: 3px;
  padding: 10px;
  box-shadow: .2px .5px 2px .5px #393e46;
}
.name {
  color: #323232;
  font-size: 18px;
  font-family: monospace;
  font-weight: 100;
}

.player-input {
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #d7d7d7;
  padding-bottom: 10px;
}


.player-name {
  color: #393e46;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  border-radius: 5px;
  border: none;
  background-color: lightgray;
}

.player-name-error {
  color: #393e46;
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 15px;
  text-align: left;
  border-radius: 5px;
  background-color: lightgray;
  outline: none;
  border: 1px solid #dc2f2f;
}

.player-name:focus {
  outline: none;
  border: 1px solid #524a79;
}

.label {
  color: #dc2f2f;
  font-size: 12px;
}

.radio-group {
  display: flex;
  justify-content: space-between;
}

.radio-group:not(:last-child) {
  padding-bottom: 30px;
  border-bottom: 2px solid #d7d7d7;
}

.radio-label {
  cursor: pointer;
  font-size: 14px;
  /* font-weight: 700; */
  color: #393e46;
}
.arrow {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  font-size: 20px; 
  cursor: pointer; 
}

.arr {
  color: #6b4897;
}

.arr:hover {
  color: #dc2f2f;
}

.fa-gear {
  font-size: 20px;
  padding-right: 10px;
  color: #b7b7b7;
}

input[type="radio"] {
  appearance: none;
  height: 14px;
  width: 14px;
  background-color: #fafafa;
  border-radius: 50%;
  cursor: pointer;
  outline: #524a79;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="radio"]:after {
  position: relative;
  left: -7.5px;
  bottom: 2px;
  font-family: monospace;
  /* font-weight: 200; */
  font-size: 45px;
  content: "\00B7";
  color: #524a79;
  display: none;
}

input[type="radio"]:hover {
  background-color: #f6f6f6;
  border: 1px solid #524a79;
}

input[type="radio"]:checked {
  border: #524a79;
  border: 2px solid #524a79;
}

input[type="radio"]:checked::after {
  display: block;
}
