* {
  font-family: 'Courier New', Courier, monospace;
}
.leader-board {
  background-color: #e7e7de;
  box-shadow: #303841 0px 5px 15px;
  border-radius: 5px;
  padding: 25px 50px;
  margin-right: 100px;
  text-align: center;
}

.board-header {
  font-weight: 600;
  text-align: center;
  color: #393e46;
  font-size: 25px;
  margin-bottom: 40px;
  border-radius: 3px;
  padding: 10px;
  box-shadow: .2px .5px 2px .5px #393e46;
}

.leader-detail {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.leader-name {
  padding: 12px;
  font-size: 20px;
  color: #5e366a;
  font-weight: 700;
}

.leader-score {
  padding: 12px;
  font-size: 20px;
  color: #cd0a0a;
  font-weight: 700;
  margin-left: 100px;
}
